body {
  background-color: rgb(48, 48, 48);
  /*cursor: url(media/pointer2.png), auto;*/
}

.navBar {
  text-align: center;
}

.buttonSection {
  font-size: large;
  color: rgb(115, 84, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttonClass {
  text-align: center;

}

.link {
  flex: 30;
  text-decoration: rgb(189, 0, 0);
  outline-color: transparent;
  text-align: center;
  line-height: 3;
  color: black;
}

.link:link,
.link:visited,
.link:focus {
  background: rgb(100, 139, 255);
  color: black;
}

.link:hover {
  background: rgb(38, 0, 255);
  color: rgb(189, 0, 0);
  text-decoration: underline;
}

.menu {
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list {
  display: inline;
  padding-left: 10px;
}

h1 {
  color: rgb(189, 0, 0);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  margin-left: 5%;
  margin-right: 5%;
}

.DescClass {

  border: 2px solid white;
  margin-left: 20%;
  margin-right: 20%;
}

.InstruccClass {
  border: 2px solid white;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 3%;
}

.GameSection {
  /*text-align: center;*/
  padding-bottom: 10%;
  padding-top: 5%;
}

.AuthorsTable {
  width: 50%;
  margin: 0 auto;
}

h2 {
  color: rgb(189, 0, 0);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.authElem {
  /*display: inline;*/
  color: white;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flip-box {
  background-color: transparent;
  width: 200px;
  height: 400px;
  perspective: 1000px;
  /*Efecto 3D*/
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: rgb(38, 38, 38);
  color: white;
  transform: rotateY(180deg);
}

.bottomSection {
  text-align: center;
  padding-bottom: 10px;
}